  <div class="outer">
    <div class="middle">
      <div class="inner">
          <div class="container">
              <div class="card card-login bg-dark text-white mx-auto mt-5 col-xm-12">
                <div class="card-header">Login</div>
                <div class="card-body">
                  <form id="login_form">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label> 
                      <input class="form-control" name="email"  id="login_email" type="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input class="form-control" name="password"  id="login_pass" type="password" placeholder="Password" required>
                    </div>
                <input type="submit" id="submitButton" value="Login">
                 </form>
                  <div class="text-center">
                    <a class="d-block small mt-3" href="register">Register an Account</a>
                    <a class="d-block small" href="forgotPassword">Forgot Password?</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>