 <div class="outer">
   <div class="middle">
   <div class="inner1">
   <div class="container">
    <div class="card card-register bg-dark text-white mx-auto mt-5 col-sm-12" id="card">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form id="register_form">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input class="form-control"  name="email" id="register_email" type="email" aria-describedby="emailHelp" placeholder="Enter email" required>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" name="password" id="register_pass" type="password" placeholder="Password" required>
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">Confirm password</label>
                <input class="form-control" name="confirmpassword" id="register_pass1" type="password" placeholder="Confirm password" required>
              </div>
            </div>
          </div>
          <input type="submit" value="Register" href="register">
        </form>
          <div class="text-center">
           <a class="d-block small mt-3" href="login">Login Page</a>
           <a class="d-block small" href="forgotpassword">Forgot Password?</a>
          </div>
         </div>
        </div>
       </div>
      </div>
    </div>
</div>