  <!-- Example Feedaback Form-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-comment-o"></i>  Feedaback Form</div>
        <div class="card-body form-div">
            <h5>Thank you for taking the time to fill in our online feedback form. By providing us your feedback, you are helping us understand what we do well and what improvements we need to implement.
            </h2>
            <form id="feedback_form">
              <br>
              <label >Title</label>
              <br>
              <input type="text" id="feedback_title" placeholder="Enter title here" required>
              <br>
              Feel free to add any other comments or suggestions:
              <div class="textwrapper"><textarea cols="15" rows="5" id="feedback_content"></textarea></div>
              <small>* The information given within the Feedback Form will be used for service improvement only and are strictly confidential.</small>
              <br>
              Image:(Input the screenshot of the problem)
              <input type="file" name="datafile" size="40" >
              <br>
              <br>
              <button class="btn btn-secondary mybutton">Submit feedback</button>
            </form>
        </div>
        <div class="card-header"></div>
        </div>