<div class="outer">
   <div class="middle">
    <div class="inner">
     <div class="container">
       <div class="card card-login bg-dark text-white mx-auto mt-5">
       <div class="card-header">Reset Password</div>
       <div class="card-body">
         <div class="text-center mt-4 mb-5">
           <h4>Forgot your password?</h4>
           <p>Enter your email address and we will send you instructions on how to reset your password.</p>
         </div>
         <form id="forgot_form">
           <div class="form-group">
             <input class="form-control" id="forgot_email" type="email" aria-describedby="emailHelp" placeholder="Enter email address" required>
           </div>
           <input type="submit" id="submitButton" value="Reset Password" href="login">
         </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="register">Register an Account</a>
          <a class="d-block small" href="login">Login Page</a>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>